:root {
  --transition-duration: 400ms ease;

  /* Основные цвета */
  --bg-main: #f4e4d7; /* Основной фон */
  --bg-secondary: #f8d9b8; /* Второстепенный фон, например, для подсветки */
  --color-accent: #efac59; /* Основной акцентный цвет */

  /* Темные цвета */
  --color-primary-dark: #2713a1; /* Основной темный цвет для текста */
  --color-secondary-dark: #a11392; /* Вторичный темный цвет для карточек или кнопок */
  --main-text: #333;

  /* Вспомогательные цвета */
  --color-shadow: rgba(23, 19, 161, 0.25); /* Полупрозрачная тень */
  --color-placeholder: #c8b0c7; /* Цвет текста-заполнителя */
  --color-error: #d24562; /* Цвет для ошибок */
  --color-white: #fff; /* Чисто белый цвет */
  --color-overlay: rgba(255, 255, 255, 0.4); /* Прозрачный белый для оверлеев */
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Fredoka", sans-serif;
  background: var(--bg-main);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary-dark);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

/* Animation keyframes for components */
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ====================================================== */
